<template>
  <v-app>
    <!-- <v-system-bar id height="30" lights-out></v-system-bar> -->
    <div id="navbar">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div style="float: left">
              <img
                style=""
                src="~/assets/image/STB888/logo-stb888.png"
                width="100px"
                alt=""
              />
            </div>
          </div>
          <div class="col-6">
            <div style="float: right">
              <a
                href="https://starbet.online/th/"
                class="mr-2"
                style="
                  background: #6feabb;
                  color: #000;
                  border: 1px solid #fff;
                  border-radius: 30px;
                  width: 150px;
                  box-shadow: 0 0 15px 0 rgb(244 82 235 / 88%),
                    inset 0 -7px 0 0 #00db62;
                "
                >เข้าเกมส์</a
              >
              <a
                href="https://lin.ee/eFSiRKi"
                style="
                  background: #6feabb;
                  color: #000;
                  border: 1px solid #fff;
                  border-radius: 30px;
                  width: 150px;
                  box-shadow: 0 0 15px 0 rgb(244 82 235 / 88%),
                    inset 0 -7px 0 0 #00db62;
                "
                >สมัครสมาชิก</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <v-col id="navbar2" style="">
      <ul style="list-style-type: none; padding: 0; margin: 0">
        <li>
          <a href="/"
            ><img
              style="width: 35px; padding: 5px"
              src="~/assets/image/logo-menu/home.webp"
              alt=""
            />หน้าแรก</a
          >
        </li>
        <li>
          <a href="/#sectionCasino" style=""
            ><img
              style="width: 35px; padding: 5px"
              src="~/assets/image/logo-menu/casino.webp"
              alt=""
            />คาสิโนออนไลน์</a
          >
        </li>
        <li>
          <a href="/#sectionSlot"
            ><img
              style="width: 35px; padding: 5px"
              src="~/assets/image/logo-menu/slot.webp"
              alt=""
            />สล็อตออนไลน์</a
          >
        </li>
        <li>
          <a href="/#sectionGame"
            ><img
              style="width: 35px; padding: 5px"
              src="~/assets/image/logo-menu/sport.webp"
              alt=""
            />กีฬา</a
          >
        </li>
        <li><a href="/#promotion">โปรโมชั่น</a></li>
        <li>
          <a href="https://starbet.online/th/"
            ><img
              style="width: 35px; padding: 5px"
              src="~/assets/image/logo-menu/play.webp"
              alt=""
            />ทางเข้า</a
          >
        </li>
      </ul>
    </v-col>

    <div id="navMobile" class="container">
      <div class="row">
        <div class="col-4">
          <div class="nav-brand">
            <img
              src="~/assets/image/STB888/logo-stb888.png"
              width="100px"
              alt=""
            />
          </div>
        </div>
        <div class="col-8 text-right mt-4">
          <a href="https://starbet.online/th/" class="mr-1">เข้าเกมส์</a>
          <a href="https://lin.ee/eFSiRKi">สมัครสมาชิก</a>
        </div>
      </div>
    </div>
    <div id="navMobile2" class="container">
      <div class="row">
        <div class="col-6 d-flex justify-content-center">
          <a @click.stop="drawer = !drawer">
            <v-icon>mdi mdi-format-list-bulleted</v-icon>
            <v-icon>mdi mdi-home</v-icon> หน้าแรก</a
          >
        </div>
        <div
          id="line-mobile"
          class="col-6 d-flex justify-content-center"
          style="
            width: 100% auto;
            width: 100%;
            text-align: center;
            border-radius: 0 0 0 8px;
          "
        >
          <a
            href="https://lin.ee/eFSiRKi"
            style="text-decoration: none; color: #fff"
          >
            <img
              src="~/assets/image/line.png"
              height="25px"
              alt=""
            />&nbsp;&nbsp;Line: @stb_888
          </a>
        </div>
      </div>
    </div>
    <style>
      #line-mobile {
        background: rgb(176, 151, 242);
        background: linear-gradient(
          360deg,
          rgba(176, 151, 242, 1) 0%,
          rgba(87, 74, 165, 1) 100%
        );
      }
    </style>

    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list-item>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img
                src="~/assets/image/STB888/logo-stb888.png"
                width="100%"
                alt=""
              />
            </div>
            <div class="col-12">
              <div align="center">
                <a
                  href="https://lin.ee/eFSiRKi"
                  style="text-decoration: none; color: #fff"
                  ><v-btn color="success"> @line: stb_888 </v-btn></a
                >
              </div>
            </div>
          </div>
        </div>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item v-for="item in items" :key="item.title" :to="item.link">
          <v-list-item-icon>
            <img class="pr-2" :src="item.icon" alt="" /> {{ item.title }}
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <style>
      * {
        scroll-behavior: smooth;
      }
      #navMobile a {
        padding: 5px 15px 5px 15px;
        background: #6feabb;
        color: #000;
        border: 1px solid #fff;
        border-radius: 30px;
        box-shadow: 0 0 15px 0 rgb(244 82 235 / 88%), inset 0 -4px 0 0 #ddd;
      }
      #navbar ul {
        margin: 0;
        padding: 0;
      }
      #navbar .container {
        width: 1024px;
      }
      #navbar {
        width: 100%;
        background: rgb(43, 61, 162);
        background: linear-gradient(
          90deg,
          rgba(43, 61, 162, 1) 0%,
          rgba(226, 98, 228, 1) 51%,
          rgba(75, 51, 153, 1) 100%
        );
        display: block;
        transition: 0.5s;
        box-shadow: 0 1px 20px rgb(0 0 0 / 20%);
      }
      #navMobile {
        background: rgb(47, 121, 255);
        background: linear-gradient(
          90deg,
          rgba(47, 121, 255, 1) 0%,
          rgba(174, 21, 238, 1) 38%,
          rgba(217, 27, 233, 1) 64%,
          rgba(132, 23, 255, 1) 100%
        );
        display: none;
      }
      #navMobile2 {
        position: absolute;
        visibility: hidden;
      }

      #navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-size: 17px;
      }
      #navbar2 {
        display: flex; 
        justify-content: center;
        background: #15171a;
      }
      #navbar2 ul li {
        text-decoration: none;
        padding: 0 15px;
      }
      #navbar2 ul li a {
        padding: 15px;
        text-decoration: none;
        color: #fff;
      }
      @media (max-width: 992px) {
        #navbar {
          display: none;
        }
        #navbar2 {
          display: none;
        }
        #navMobile {
          display: block;
        }
        #navMobile2 {
          position: relative;
          visibility: visible;
        }
      }
      @media (max-width: 320px) {
        #navMobile a {
          padding: 0px 5px 0px 5px;
          background: #6feabb;
          color: #000;
          border: 1px solid #fff;
          border-radius: 30px;
        }
        #navbar {
          display: none;
        }
        #navMobile {
          display: block;
        }
      }
    </style>

    <nuxt />
    <TheFooter />
  </v-app>
</template>

<script>
// import TheHead from "~/components/head";

import TheFooter from "~/components/footer";
export default {
  components: { TheFooter },
  // components: { TheHead },
  data() {
    return {
      drawer: 0,
      items: [
        {
          title: "หน้าแรก",
          icon: require("@/assets/image/logo-menu/home.webp"),
          link: "/",
        },
        {
          title: "คาสิโนออนไลน์",
          icon: require("@/assets/image/logo-menu/casino.webp"),
          link: "#sectionCasino",
        },
        {
          title: "สล็อตออนไลน์",
          icon: require("@/assets/image/logo-menu/slot.webp"),
          link: "#slotGame",
        },
        {
          title: "กีฬาออนไลน์",
          icon: require("@/assets/image/logo-menu/sport.webp"),
          link: "#sectionCasino",
        },
        {
          title: "โปรโมชั่น",
          link: "#promotion",
          icon: require("@/assets/image/logo-menu/promotion.webp"),
        },
        {
          title: "บทความ",
          icon: require("@/assets/image/logo-menu/article.webp"),
          link: "#article",
        },
        {
          title: "ทางเข้า",
          icon: require("@/assets/image/logo-menu/play.webp"),
          link: "/",
        },
      ],
    };
  },
  // script: [
  //   { src: "~/plugins/jquery.min.js" },
  //   {
  //     src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js",
  //   },
  // ],
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500&display=swap");
* {
  font-family: "Prompt", sans-serif;
}
.theme--dark.v-application {
  background-color: var(--v-background-base, #121212) !important;
}
.theme--light.v-application {
  background-color: var(--v-background-base, white) !important;
}
</style>
