<template>
  <div class="bg-dark">
    <div style="max-width: 100%">
      <img src="~/assets/image/STB888/pay-in.png" width="100%" alt="" />
    </div>
    <div id="sectionFooter">
      <div class="container mt-12">
        <div class="row">
          <div v-for="(logoCasino, i) in logo" :key="i">
            <img
              :src="logoCasino.logos"
              :alt="logoCasino.alt"
              class="mr-2 ml-2 mb-2"
              style="width: 70px; height: 35px"
            />
          </div>
        </div>
      </div>
      <div class="col-12" style="background: transparent">
        <div id="">
          <v-container class="conatiner">
            <v-tabs
              background-color="transparent"
              class="d-flex justify-content-center"
            >
              <v-tabs-slider color="white"></v-tabs-slider>

              <v-tab to="/" style="color: #fff"> หน้าแรก</v-tab>
              <v-tab to="#sectionGame" style="color: #fff">
                คาสิโนออนไลน์</v-tab
              >
              <v-tab to="#sectionGame" style="color: #fff"> สล็อตออนไลน์</v-tab>
              <v-tab to="#sectionGame" style="color: #fff"> กีฬาออนไลน์</v-tab>
              <v-tab to="#sectionGame" style="color: #fff"> โปรโมชั่น</v-tab>
              <v-tab to="#sectionGame" style="color: #fff">
                คำถามที่พบบ่อย</v-tab
              >
              <v-tab to="#sectionGame" style="color: #fff"> บทความ</v-tab>
              <v-tab to="#sectionGame" style="color: #fff"> Policy</v-tab>
            </v-tabs>
          </v-container>
        </div>
      </div>
    </div>
    <div id="footFix">
      <v-bottom-navigation style="background: rgb(176,151,242);
background: linear-gradient(360deg, rgba(176,151,242,1) 0%, rgba(87,74,165,1) 100%);">
        <div style="display:flex;justify-content:center;align-items:center;">
         <a href="https://starbet.online/th/"> <h5 class="text-white">LOGIN</h5></a>

        </div>
      </v-bottom-navigation>
    </div>
    <div class="text-center mt-6 mb-6">
      <strong>STB888 © ALL RIGHT RESERVED 2021 </strong>
    </div>
    
    <style>
      #footFix {
        position: fixed;
        box-sizing: border-box;
        bottom: 0;
        width: 100%;
        z-index: 1;
        background: red;
        display: none;
      }
      @media (max-width: 992px) {
        #footFix {
          display: block;
        }
        #sectionFooter {
          display: none;
        }
      }
    </style>
    
  </div>
</template>
<script>
export default {
  data() {
    return {
      logo: [
        {
          logos: require("@/assets/image/logo-casino/ufabet.webp"),
          alt: "Ufabet",
        },
        {
          logos: require("@/assets/image/logo-casino/bng.webp"),
          alt: "STB888",
        },
        {
          logos: require("@/assets/image/logo-casino/aecasino.webp"),
          alt: "STB888",
        },
        {
          logos: require("@/assets/image/logo-casino/cq9.webp"),
          alt: "STARBET",
        },
        {
          logos: require("@/assets/image/logo-casino/ebet.webp"),
          alt: "STB888",
        },
        {
          logos: require("@/assets/image/logo-casino/fachai.webp"),
          alt: "STARBET",
        },
        {
          logos: require("@/assets/image/logo-casino/gdc.webp"),
          alt: "STB888",
        },
        {
          logos: require("@/assets/image/logo-casino/itp.webp"),
          alt: "STARBET",
        },
        {
          logos: require("@/assets/image/logo-casino/jili.webp"),
          alt: "STB888",
        },
        {
          logos: require("@/assets/image/logo-casino/joker.webp"),
          alt: "STARBET",
        },
        {
          logos: require("@/assets/image/logo-casino/kingmaker.webp"),
          alt: "STB888",
        },
        {
          logos: require("@/assets/image/logo-casino/pg.webp"),
          alt: "STARBET",
        },
        {
          logos: require("@/assets/image/logo-casino/playngo.webp"),
          alt: "STB888",
        },
        {
          logos: require("@/assets/image/logo-casino/redtiger.webp"),
          alt: "STARBET",
        },
        {
          logos: require("@/assets/image/logo-casino/sabasport.webp"),
          alt: "STB888",
        },
        {
          logos: require("@/assets/image/logo-casino/sbobet.webp"),
          alt: "STARBET",
        },
        {
          logos: require("@/assets/image/logo-casino/slotto.webp"),
          alt: "STB888",
        },
        {
          logos: require("@/assets/image/logo-casino/spadegaming.webp"),
          alt: "STARBET",
        },
        {
          logos: require("@/assets/image/logo-casino/sv388.webp"),
          alt: "STB888",
        },
        {
          logos: require("@/assets/image/logo-casino/venus.webp"),
          alt: "STB888",
        },
      ],
    };
  },
};
</script>