<template>
  <div></div>
</template>
<script>
export default {
  head: {
    titleTemplate: "STB888 | คาสิโนออนไลน์อันดับ 1 ที่ทุกคนไว้วางใจ",
    meta: [
      { charset: "utf-8" },
      { name: "viewport", content: "width=device-width, initial-scale=1" },
      {
        hid: "คาสิโนออนไลน์อันดับ 1 ที่ทุกคนไว้วางใจ",
        name: "คาสิโนออนไลน์อันดับ 1 ที่ทุกคนไว้วางใจ",
        content: "คาสิโนออนไลน์อันดับ 1 ที่ทุกคนไว้วางใจ",
      },
    ],
    link: [{ rel: "icon", type: "image/x-icon", href: "/monkey.ico" }],
  },
};
</script>