<template>
  <div style="height:200vh">
    
  </div>
</template>
<script>
export default {
  layout: "menu",
  css: [
    // "~/assets/css/global-main.css",
  ],
  data() {
    return {
    };
  },
};
</script>
<style>
.global-main img{
  border-radius: 30px;
  margin-bottom: 10px ;
}
.global-main h1{
  font-size:2em;
}
#choice img {
  transition: 0.4s;
}
#choice img:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

#register {
  background: #152242;
  width: 100% auto;
  border: 1px solid #556baa;
  filter: blur(10);
  border-radius: 10px;
  padding: 0px 15px 10px 0px;
}
@media (max-width: 414px) {
  #register {
    background: transparent;
    border: 0px;
    border-radius: 0px;
  }
}
#homepage #logo1 img {
  transition: 0.4s;
}
#homepage #logo1 img:hover {
  transition: 0.4s;
  transform: rotate(20deg);
}
.container {
  max-width: 1148px;
}
#homepage #first a {
  position: relative;
  padding: 5px 20px 5px 20px !important;
  border-radius: 30px;
  border: 2px solid #fff;
  background-image: linear-gradient(
    to left,
    #f7fafb,
    #c7f7f7,
    #edffc4,
    #ffb6b6,
    #c8fdc8,
    #d1b6da,
    #d3eceb
  );
  box-shadow: 0px 0px 10px 5px #fff;
  background-size: 1000%;

  -webkit-animation: x-ac-neon-primary 1.5s ease-in-out infinite alternate;
  animation: animate2 10s linear infinite;
}
@keyframes animate2 {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
#homepage a h1 {
  color: transparent;
  background-image: linear-gradient(
    to right,
    #000,
    #e6ffff,
    rgb(104, 110, 110),
    #111313,
    #bbcccc,
    #dfffff,
    #080808
  );
  -webkit-background-clip: text;
  animation: animate1 10s linear infinite;
  background-size: 1000%;
}
@keyframes animate1 {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
</style>

