<template>
  <div>
    <div class="container" id="homepage">
      <div class="container">
        <div class="row" id="choice">
          <div class="col-6 col-sm-4">
            <nuxt-link to="/casino">
              <img src="~/assets/image/casino.webp" width="100%" alt="casino" />
            </nuxt-link>
          </div>
          <div class="col-6 col-sm-4">
            <nuxt-link to="/casino">
              <img src="~/assets/image/slot.webp" width="100%" alt="slot" />
            </nuxt-link>
          </div>
          <div class="col-6 col-sm-4">
            <nuxt-link to="/casino">
              <img src="~/assets/image/sport.webp" width="100%" alt="sport" />
            </nuxt-link>
          </div>
          <div class="col-6 col-sm-4">
            <nuxt-link to="/casino">
              <img src="~/assets/image/lotto.webp" width="100%" alt="lotto" />
            </nuxt-link>
          </div>
          <div class="col-6 col-sm-4">
            <nuxt-link to="/casino">
              <img
                src="~/assets/image/fishing.webp"
                width="100%"
                alt="fishing"
              />
            </nuxt-link>
          </div>
          <div class="col-6 col-sm-4">
            <nuxt-link to="/casino">
              <img
                src="~/assets/image/mini-games.webp"
                width="100%"
                alt="mini-games"
              />
            </nuxt-link>
          </div>
        </div>
      </div>

      <div class="container">
        <h4 style="font-size: 1.4em">ขั้นตอนการสมัครสมาชิก คาสิโนอนไลน์</h4>
        <div class="mt-4" id="register" style="">
          <div class="row">
            <div
              class="col-12 col-sm-4"
              style="color: #fff; padding: 40px 10px 10px 40px"
            >
              <div class="row">
                <div class="img col-sm-12 col-5 d-flex justify-content-center">
                  <div class="col-sm-4">
                    <img
                      src="~/assets/image/ic_register.png"
                      alt=""
                      width="100%"
                    />
                  </div>
                </div>
                <div class="body col-sm-12 col-7 text-center">
                  <div class="text-header">
                    <h4>ติดต่อสมัคร</h4>
                  </div>
                  <div class="text-body">
                    <p style="color: #fff">
                      แอดไลน์ @ufabet101 เพื่อรับเลขบัญชีในการโอนสมัครสมาชิก
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-12 col-sm-4"
              style="color: #fff; padding: 40px 10px 10px 40px"
            >
              <div class="row">
                <div class="img col-sm-12 col-5 d-flex justify-content-center">
                  <div class="col-sm-4">
                    <img src="~/assets/image/ic_otp.png" alt="" width="100%" />
                  </div>
                </div>
                <div class="body col-sm-12 col-7 text-center">
                  <div class="text-header">
                    <h4>โอนเงิน</h4>
                  </div>
                  <div class="text-body">
                    <p style="color: #fff">
                      โอนเงินจำนานที่ต้องการเล่นพร้อมส่ง หลักฐานการโอนเงิน
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-12 col-sm-4"
              style="color: #fff; padding: 40px 10px 10px 40px"
            >
              <div class="row">
                <div class="img col-sm-12 col-5 d-flex justify-content-center">
                  <div class="col-sm-4">
                    <img src="~/assets/image/ic_bank.png" alt="" width="100%" />
                  </div>
                </div>
                <div class="body col-sm-12 col-7 text-center">
                  <div class="text-header">
                    <h4>เข้าเล่นเกมส์</h4>
                  </div>
                  <div class="text-body">
                    <p style="color: #fff">
                      รอการยืนยันเติมเงิน รับรหัสยูสเซอร์ และ พาสเวิร์ด
                      เพื่อเข้าเล่นเกมส์
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6">
        <img
          src="~/assets/image/bank.webp"
          width="100%"
          style="border-radius:10px;"
          alt=""
        />
      </div>
      <div class="container" style="margin-top: 100px">
        <div class="row">
          <div class="col-sm-6">
            <h1>แนะคำคาสิโนที่เอเจนซี่ทำ</h1>
            <h4>
              คาสิโนออนไลน์ที่ให้บริการ Casino Online ยอดนิยมครบจบที่สุดในไทย
            </h4>
            <p>
              มีให้ท่านหลายแบรนด์ ทั้ง SA Gaming, Sexy Gaming, WM Casino และ DG
              Casino, คาสิโนสดมากมาย เกมสล็อต และ เดิมพันกีฬา
              รวบรวมผู้ให้บริการระดับโลกมาอยู่ในมือของท่าน แบบ All-In-One
              ให้ท่านได้สนุก ครบ จบ ในที่เดียว ภายใต้การดูแลบริการตลอด 24
              ชั่วโมง
            </p>
          </div>
          <div class="col-sm-6">
            <img src="~/assets/image/card.png" width="100%"  alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "menu",
  css: [
    // "~/assets/css/global-main.css",
  ],
  data() {
    return {
    };
  },
};
</script>
<style>
.global-main img{
  border-radius: 30px;
  margin-bottom: 10px ;
}
.global-main h1{
  font-size:2em;
}
#choice img {
  transition: 0.4s;
}
#choice img:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

#register {
  background: #152242;
  width: 100% auto;
  border: 1px solid #556baa;
  filter: blur(10);
  border-radius: 10px;
  padding: 0px 15px 10px 0px;
}
@media (max-width: 414px) {
  #register {
    background: transparent;
    border: 0px;
    border-radius: 0px;
  }
}
#homepage #logo1 img {
  transition: 0.4s;
}
#homepage #logo1 img:hover {
  transition: 0.4s;
  transform: rotate(20deg);
}
.container {
  max-width: 1148px;
}
#homepage #first a {
  position: relative;
  padding: 5px 20px 5px 20px !important;
  border-radius: 30px;
  border: 2px solid #fff;
  background-image: linear-gradient(
    to left,
    #f7fafb,
    #c7f7f7,
    #edffc4,
    #ffb6b6,
    #c8fdc8,
    #d1b6da,
    #d3eceb
  );
  box-shadow: 0px 0px 10px 5px #fff;
  background-size: 1000%;

  -webkit-animation: x-ac-neon-primary 1.5s ease-in-out infinite alternate;
  animation: animate2 10s linear infinite;
}
@keyframes animate2 {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
#homepage a h1 {
  color: transparent;
  background-image: linear-gradient(
    to right,
    #000,
    #e6ffff,
    rgb(104, 110, 110),
    #111313,
    #bbcccc,
    #dfffff,
    #080808
  );
  -webkit-background-clip: text;
  animation: animate1 10s linear infinite;
  background-size: 1000%;
}
@keyframes animate1 {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
</style>

