<template>
  <div id="homepage">
    <v-col id="carousel1" style="height: 500px">
      <v-carousel cycle hide-delimiter-background :show-arrows="false">
        <v-carousel-item v-for="(slide, i) in imgFade" :key="i">
          <!-- <img :src="slide.img" width="100%" alt="STB888.ONLINE" /> -->
          <!-- <img src="~/assets/image/test.png" width="100%" alt="" /> -->
          <img src="~/assets/image/test.png" width="100%" alt="" />
        </v-carousel-item>
      </v-carousel>
    </v-col>

    <v-col id="carousel2">
      <v-carousel cycle hide-delimiter-background :show-arrows="false">
        <v-carousel-item v-for="(slide, i) in imgFade" :key="i">
          <img :src="slide.img" width="100%" alt="STB888.ONLINE" />
        </v-carousel-item>
      </v-carousel>
    </v-col>

    <style>
      #carousel2 {
        display: none;
      }
      @media (max-width: 992px) {
        #columStart {
          display: block;
        }
        #carousel1 {
          display: none;
        }
        #carousel2 {
          display: block;
        }
      }
      @media (max-width: 500px) {
        .v-btn--icon.v-size--small {
          margin-top: -400px;
        }
        #carousel2 {
          margin-bottom: -230px;
        }
      }
    </style>

    <div class="container">
      <div class="row mt-6">
        <v-container>
          <v-row id="row-game">
            <v-col cols="12">
              <h5>เกมส์มาแรง</h5>
            </v-col>

            <v-tabs
              height="400"
              background-color="transparent"
              color="transparent"
              style="margin-left: -50px"
            >
              <v-tab v-for="(gamehots, i) in gameHot" :key="i" id="v-tab1">
                <v-card
                  id="cardBig"
                  class="mx-auto"
                  style="border-radius: 15px; border: 1px solid #fff"
                >
                  <v-card-title
                    class="d-flex justify-content-center"
                    id="card-game"
                  >
                    <strong id="text-strong">{{ gamehots.title }}</strong>
                  </v-card-title>

                  <img
                    id="game-in"
                    :src="gamehots.img"
                    alt=""
                    style="border-radius: 15px"
                  />
                </v-card>
                <style>
                  #cardBig img {
                    width: 250px;
                    height: 300px;
                  }
                  @media (max-width: 500px) {
                    #row-game {
                      margin-bottom: -150px;
                    }
                    #card-game {
                      padding: 0;
                    }
                    #v-tab1 {
                      padding: 0 5px;
                      display: block;
                    }
                    #cardBig img {
                      width: 125px;
                      height: 170px;
                    }
                    #cardBig strong {
                      font-size: 0.5em;
                    }
                  }
                </style>
              </v-tab>
            </v-tabs>
          </v-row>
        </v-container>
      </div>
      <!-- GAME CASINO -->

      <v-row class="mt-6">
        <v-tabs
          id="slotGame"
          v-model="tab"
          background-color="transparent"
          transparent
          color="white"
          show-arrows
        >
          <v-tab v-for="item in items" :key="item">
            {{ item }}
          </v-tab>
        </v-tabs>
      </v-row>
      <style>
        #slotGame {
          height: 55px;
          border-radius: 10px 10px 0px 0px;
          border: 3px solid #717171;
          background: rgb(43, 61, 162);
          background: linear-gradient(
            90deg,
            rgba(43, 61, 162, 1) 0%,
            rgba(226, 98, 228, 1) 51%,
            rgba(75, 51, 153, 1) 100%
          );
          display: flex;
          justify-content: center;
        }
        @media (max-width: 500px) {
          #slotGame {
            border-radius: 0px;
            border-left: 0px;
            border-right: 0px;
          }
          #slotGame .v-tab {
            padding: 0 10px;
            font-size: 0.5em;
            max-width: 60px;
          }
        }
      </style>
      <v-tabs-items
        v-model="tab"
        id="gameslot"
        style="background: transparent; margin-top: 10px"
      >
        <div>
          <v-tab-item>
            <v-col
              cols="12"
              sm="12"
              style="display: flex; justify-content: center"
            >
              <v-col lg="8" sm="12">
                <div class="row">
                  <div
                    v-for="(gameNew, i) in gameNew"
                    :key="i"
                    class="col-6 col-sm-4 mb-2"
                  >
                    <v-card
                      class="mx-auto"
                      style="border-radius: 15px; border: 1px solid #fff"
                    >
                      <a href="https://lin.ee/eFSiRKi">
                        <img
                          id="game-in"
                          :src="gameNew.img"
                          width="100%"
                          alt=""
                          style="border-radius: 15px"
                      /></a>
                      <style>
                        #gameslot a img:hover {
                          transform: scale(0.9);
                          transition: 0.5s;
                        }
                      </style>
                    </v-card>
                  </div>
                </div>
              </v-col>
            </v-col>
          </v-tab-item>
          <v-tab-item>
            <v-col
              cols="12"
              sm="12"
              style="display: flex; justify-content: center"
            >
              <v-col lg="8" sm="12">
                <div class="row">
                  <div
                    v-for="(gameSlot, i) in gameImg"
                    :key="i"
                    class="col-6 col-sm-4"
                  >
                    <v-card
                      class="mx-auto"
                      style="border-radius: 15px; border: 1px solid #fff"
                    >
                      <a href="https://lin.ee/eFSiRKi">
                        <img
                          id="game-in"
                          :src="gameSlot.img"
                          width="100%"
                          alt=""
                          style="border-radius: 15px"
                      /></a>
                      <style>
                        #gameslot a img:hover {
                          transform: scale(0.9);
                        }
                      </style>
                    </v-card>
                  </div>
                </div>
              </v-col>
            </v-col>
          </v-tab-item>
          <v-tab-item>
            <v-col
              cols="12"
              sm="12"
              style="display: flex; justify-content: center"
            >
              <v-col lg="8" sm="12">
                <div class="row">
                  <div
                    v-for="(gamePlayGos, i) in gamePlayGo"
                    :key="i"
                    class="col-6 col-sm-4"
                  >
                    <v-card
                      class="mx-auto"
                      style="border-radius: 15px; border: 1px solid #fff"
                    >
                      <a href="https://lin.ee/eFSiRKi">
                        <img
                          id="game-in"
                          :src="gamePlayGos.img"
                          width="100%"
                          alt=""
                          style="border-radius: 15px"
                      /></a>
                      <style>
                        #gameslot a img:hover {
                          transform: scale(0.9);
                        }
                      </style>
                    </v-card>
                  </div>
                </div>
              </v-col>
            </v-col>
          </v-tab-item>
          <v-tab-item>
            <v-col
              cols="12"
              sm="12"
              style="display: flex; justify-content: center"
            >
              <v-col lg="8" sm="12">
                <div class="row">
                  <div
                    v-for="(gameSlot, i) in gameImg"
                    :key="i"
                    class="col-6 col-sm-4 mb-2"
                  >
                    <v-card
                      class="mx-auto"
                      style="border-radius: 15px; border: 1px solid #fff"
                    >
                      <a href="https://lin.ee/eFSiRKi">
                        <img
                          id="game-in"
                          :src="gameSlot.img"
                          width="100%"
                          alt=""
                          style="border-radius: 15px"
                      /></a>
                      <style>
                        #gameslot a img:hover {
                          transform: scale(0.9);
                        }
                      </style>
                    </v-card>
                  </div>
                </div>
                <div class="row">
                  <div
                    v-for="(gameNew, i) in gameNew"
                    :key="i"
                    class="col-6 col-sm-4"
                  >
                    <v-card
                      class="mx-auto"
                      style="border-radius: 15px; border: 1px solid #fff"
                    >
                      <a href="https://lin.ee/eFSiRKi">
                        <img
                          id="game-in"
                          :src="gameNew.img"
                          width="100%"
                          alt=""
                          style="border-radius: 15px"
                      /></a>
                      <style>
                        #gameslot a img:hover {
                          transform: scale(0.9);
                        }
                      </style>
                    </v-card>
                  </div>
                </div>
                <div class="row">
                  <div
                    v-for="(gamePlayGos, i) in gamePlayGo"
                    :key="i"
                    class="col-6 col-sm-4"
                  >
                    <v-card
                      class="mx-auto"
                      style="border-radius: 15px; border: 1px solid #fff"
                    >
                      <a href="https://lin.ee/eFSiRKi">
                        <img
                          id="game-in"
                          :src="gamePlayGos.img"
                          width="100%"
                          alt=""
                          style="border-radius: 15px"
                      /></a>
                      <style>
                        #gameslot a img:hover {
                          transform: scale(0.9);
                        }
                      </style>
                    </v-card>
                  </div>
                </div>
              </v-col>
            </v-col>
          </v-tab-item>
        </div>
      </v-tabs-items>

      <!-- GAME CASINO -->
      <v-col cols="12" style="display: flex; justify-content: center">
        <v-col lg="8" sm="12">
          <v-row>
            <v-col sm="12" lg="6" cols="12">
              <img src="~/assets/image/card.png" width="100%" alt="" />
            </v-col>
            <v-col sm="12" lg="6" cols="12">
              <v-carousel
                cycle
                height="400"
                hide-delimiter-background
                :show-arrows="false"
              >
                <v-carousel-item v-for="(slide, i) in slides" :key="i">
                  <v-sheet style="background: transparent" height="100%">
                    <div style="padding: 10px 0 0 10px">
                      <strong style="font-size: 1.5rem; color: #df62e4">{{
                        slide.title
                      }}</strong
                      ><br />
                      <p style="text-indent: 1.5em">{{ slide.des }}</p>
                    </div>
                  </v-sheet>
                </v-carousel-item>
              </v-carousel>
            </v-col>
          </v-row>
        </v-col>
      </v-col>
      <v-col
        id="sectionCasino"
        cols="12"
        sm="12"
        style="display: flex; justify-content: center"
      >
        <v-col lg="8" sm="12">
          <h1>
            STB888.ONLINE เว็บเดิมพันออนไลน์ บาคาร่า คาสิโนสด เสือมังกร
            สล็อตออนไลน์
          </h1>
          <p style="text-indent: 50px">
            <b>STB888.ONLINE</b> ผู้ให้บริการด้านเกมส์ คาสิโนออนไลน์
            อย่างถูกต้องตามกฎหมายทั้ง บาคาร่า เกมส์ไพ่ยอดนิยม เสือมังกร ออนไลน์
            เกมส์ไพ่ได้เงินจริง อัตราจ่ายเยอะที่สุด เกม สล็อตออนไลน์ 300 เกมส์
            ให้เลือกเดิมพันกันจุใจ slot joker สล็อตผลไม้ สล็อต เครดิตฟรี
            สล็อตทดลองเล่น สมัครคาสิโนออนไลน์ Starbet ง่ายๆ ใน 3 นาที
            เล่นพนันได้หลกหลายรูปแบบ Starbet, sa gaming อีกหนึ่งผู้ให้บริการ
            คาสิโนชั้นนำ ของวงการพนัน เราได้รวบรวมไว้ให้เหล่านักพนันหน้าเก่า
            หน้าใหม่ไว้ให้แล้ว ที่เดียว ครบจบ เว็บ Starbet Online คาสิโนออนไลน์
            Starbet ผู้เป็นเลิศด้านคาสิโนออนไลน์ โปรโมชั่น และกิจกรรม
            ที่มีให้ร่วมสนุกตลอดทั้งเดือน Starbet เป็นเว็บตรง ที่ไม่ผ่านเอเย่นต์
            มีคาสิโนสด Live Casino ให้บริการตลอด 24 ชั่วโมง อยู่ ณ ประเทศกัมพูชา
            ฝั่งปอยเปต อย่างถูกต้องตามกฎหมาย เกมสล็อต
            มีให้เลือกเล่นหลากหลายค่ายทั้ง Play’n Go Dragoon soft รวมกันกว่า 300
            เกมส์ ล้วนแต่เป็นเกมยอดนิยม ทำเงินได้จริงจากสล็อตออนไลน์ หรือ
            บาคาร่า เกมไพ่ยอดนิยมแห่งยุค ออนไลน์ ท่านสามารถเข้ามา
            เดิมพันบาคาร่าได้ตลอดเวลา หากชอบความไว Starbet ขอแนะนำ เสือมังกร
            ออนไลน์ (Dragon Tiger) เดิมพันด้วยไพ่ ฝั่งละ 1 ใบ
            ใครแต้มสูงเป็นผู้ชนะ ข้อดีเสือมังกร สตาร์เบท คือ อัตราการจ่าย
            เสมอ(TIE) สูงถึง 30 เท่า มาพร้อมกับ เค้าไพ่มังกร ที่น่าแทงที่สุด
            สมัครบาคาร่า เสือมังกร ง่ายๆ หลากหลายช่องทางทั้ง Line@ และ
            สมัครหน้าเว็บ มีทีมงานมากประสบการณ์ เต็มใจบริการ ทั้ง ฝาก-ถอน
            ให้คำปรึกษากับทุกท่านตลอด 24 ชั่วโมง
          </p>
        </v-col>
      </v-col>
      <v-col cols="12" sm="12" style="display: flex; justify-content: center">
        <v-col lg="8" sm="12">
          <img
            src="~/assets/image/img/bg-newsfeed.webp"
            width="100%"
            style="border: 2px solid blue; margin-bottom: 10px"
            alt="STB888"
          />
          <h2>
            <b>STB888.ONLINE เว็บคาสิโน ออนไลน์</b>
          </h2>
          <p style="text-indent: 50px">
            <b>STB888.ONLINE</b> เปิดให้คุณเดิมพันได้อย่างอิสระ ในรูปแบบ
            คาสิโนออนไลน์ (Live Casino) เว็บ Starbet อัดแน่นไปด้วยเกมพนัน
            หลากหลายรูปแบบทั้ง บาคาร่า เสือมังกร สล็อต เล่นได้ทุกแพลตฟอร์ม
            มือถือ คอมพิวเตอร์ ระบบ Androind IOS หรือ Microsoft windows
            ไม่จำเป็นต้องโหลดแอปพลิเคชั่น ไม่ต้องเดินทางไป คาสิโน ให้เสียเวลา
            เหมาะสำหรับนักพนันที่ชื่นชอบการเดิมพัน ได้ทุกแห่ง ทุกเวลา
            เป็นอย่างยิ่ง เราขอเป็นอีกหนึ่ง ทางเลือกสำหรับนักพนันทุกท่าน
          </p>
          <p style="text-indent: 50px">
            คาสิโนออนไลน์ ที่ใส่ใจนักพนันเป็นอันดับแรก กิจกรรมแจกเครดิตฟรี
            แจกโบนัส ของ
            <b>STB888.ONLINE</b> เหนือกว่าที่อื่นใดด้วยระบบการเล่นแบบออนไลน์
            ไม่ต้องดาวน์โหลดติดตั้งด้วยเทคโนโลยีทันสมัย ได้มาตรฐาน
            ช่วยให้การเล่นเกมส์คาสิโนผ่านเว็บ เป็นเรื่องง่ายมากยิ่งขึ้น
            และเป็นหนึ่งในคาสิโนออนไลน์ได้เงินจริงเพียงไม่กี่แห่งในเอเชีย
            เพียงสมัครผ่านเว็บไซต์
            <b>STB888.ONLINE</b> พร้อมบริการจากทีมงานมืออาชีพ ฝาก-ถอน
            แนะนำให้คำปรึกษา ตลอดการเล่นพนัน 24 ชั่วโมง
            ทำให้คุณสามารถเล่นพนันออนไลน์ ได้เต็มอรรถรสมากยิ่งขึ้น
            หากสนใจอยากจะเข้าร่วมเล่นเกมการเดิมพัน บาคาร่า คาสิโน
            เข้าร่วมเล่นเกมส์การเดิมพันได้ง่ายๆ เล่นบาคาร่า
            คาสิโนออนไลน์ที่ดีที่สุดในตอนนี้ สมัครเลย สมัครง่าย รับโบนัสมากมาย
          </p>
        </v-col>
      </v-col>
      <v-row>
        <div class="col-12 d-flex justify-content-center" id="promotion">
          <h3>โปรโมชั่น</h3>
        </div>
      </v-row>

      <style>
        #promotion {
          height: 55px;
          border-radius: 10px 10px 0px 0px;
          border: 3px solid #717171;
          background: rgb(47, 121, 255);
          background: linear-gradient(
            90deg,
            rgba(47, 121, 255, 1) 0%,
            rgba(174, 21, 238, 1) 38%,
            rgba(217, 27, 233, 1) 64%,
            rgba(132, 23, 255, 1) 100%
          );
        }
        @media (max-width: 500px) {
          #promotion {
            border-radius: 0px;
            border-left: 0px;
            border-right: 0px;
          }
        }
      </style>
      <v-col cols="12" style="display: flex; justify-content: center">
        <v-col cols="12" sm="12">
          <v-row>
            <v-col cols="12" lg="6" sm="12">
              <a href="/promotion">
                <img
                  src="~/assets/image/img/promotion9game.jpg"
                  width="100%"
                  alt=""
              /></a>
            </v-col>
            <v-col cols="12" lg="6" sm="12">
              <a href="/promotion/2">
                <img
                  src="~/assets/image/img/promotion5.jpg"
                  width="100%"
                  alt=""
              /></a>
            </v-col>
            <v-col cols="12" lg="6" sm="12">
              <a href="/promotion/3">
                <img
                  src="~/assets/image/img/promotion_birth_day.jpg"
                  width="100%"
                  alt=""
              /></a>
            </v-col>
            <v-col cols="12" lg="6" sm="12">
              <a href="/promotion/4">
                <img src="~/assets/image/img/new_mem.jpg" width="100%" alt="" />
              </a>
            </v-col>
          </v-row>
        </v-col>
      </v-col>
      <v-row class="mt-6">
        <v-col cols="12" class="d-flex justify-content-center" id="article">
          <h3>บทความ</h3>
        </v-col>
      </v-row>
      <style>
        #article {
          height: 55px;
          border-radius: 10px 10px 0px 0px;
          border: 3px solid #717171;
          background: rgb(47, 121, 255);
          background: linear-gradient(
            90deg,
            rgba(47, 121, 255, 1) 0%,
            rgba(174, 21, 238, 1) 38%,
            rgba(217, 27, 233, 1) 64%,
            rgba(132, 23, 255, 1) 100%
          );
        }
        @media (max-width: 500px) {
          #article {
            border-radius: 0px;
            border-left: 0px;
            border-right: 0px;
          }
        }
      </style>
      <div id="articleContainer" class="container mt-6">
        <v-container>
          <v-row>
            <v-col
              cols="12"
              sm="12"
              style="display: flex; justify-content: center"
            >
              <v-col cols="12" lg="4" sm="12">
                <img
                  src="~/assets/image/img/casino-content.png"
                  width="100%"
                  alt=""
                />
              </v-col>
            </v-col>
            <v-container>
              <v-col
                cols="12"
                sm="12"
                style="display: flex; justify-content: center"
              >
                <v-col lg="8" sm="12">
                  <v-col style="display: flex; justify-content: center">
                    <h4 style="color: #f7c45c">
                      เว็บคาสิโน ออนไลน์ STB888 ONLINE
                    </h4>
                  </v-col>
                  <p>
                    <strong style="color: red">คาสิโนสด</strong>
                    <strong style="color: orange"> บาคาร่า</strong>
                    <strong style="color: pink; font-weight: bold"
                      >สล็อตออนไลน์</strong
                    >
                    ที่ใส่ใจนักพนันเป็นอันดับแรก กิจกรรมแจกเครดิตฟรี แจกโบนัส
                    ของ
                    <strong style="color: blue; font-weight: bold"
                      >STB888 ONLINE
                    </strong>
                    เหนือกว่าที่อื่นใดด้วยระบบการเล่นแบบออนไลน์
                    ไม่ต้องดาวน์โหลดติดตั้งด้วยเทคโนโลยีทันสมัย ได้มาตรฐาน
                    ช่วยให้การเล่นเกมส์ คาสิโนผ่านเว็บ ไม่ผ่านไลน์
                    เป็นเรื่องง่ายมากยิ่งขึ้น
                    และเป็นหนึ่งในคาสิโนออนไลน์ได้เงินจริงเพียงไม่กี่แห่งในเอเชีย
                    เพียงสมัครผ่านเว็บไซต์
                    <strong style="color: green">STB888 ONLINE </strong>
                    พร้อมบริการจากทีมงานมืออาชีพ ฝาก-ถอน แนะนำให้คำปรึกษา
                    ตลอดการเล่นพนัน 24 ชั่วโมง ทำให้คุณสามารถเล่นพนันออนไลน์
                    ได้เต็มอรรถรสมากยิ่งขึ้น
                    หากสนใจอยากจะเข้าร่วมเล่นเกมการเดิมพัน บาคาร่า คาสิโน
                    เข้าร่วมเล่นเกมส์การเดิมพันได้ง่ายๆ เล่นบาคาร่า
                    คาสิโนออนไลน์ที่ดีที่สุดในตอนนี้ starbet
                    เปิดให้คุณเดิมพันได้อย่างอิสระ ในรูปแบบ คาสิโนออนไลน์ (Live
                    Casino) เว็บ Starbet อัดแน่นไปด้วยเกมพนัน หลากหลายรูปแบบทั้ง
                    บาคาร่า เสือมังกร สล็อต เล่นได้ทุกแพลตฟอร์ม มือถือ
                    คอมพิวเตอร์ ระบบ Androind IOS หรือ windows
                    ไม่จำเป็นต้องโหลดแอปพลิเคชั่น ไม่ต้องเดินทางไป คาสิโน
                    ให้เสียเวลา เหมาะสำหรับนักพนันที่ชื่นชอบการเดิมพัน
                    ได้ทุกแห่ง ทุกเวลา เป็นอย่างยิ่ง เราขอเป็นอีกหนึ่ง
                    ทางเลือกสำหรับนักพนันทุกท่าน !!!
                  </p>
                </v-col>
              </v-col>
            </v-container>
          </v-row>
        </v-container>
      </div>
    </div>
    <div
      id="buttonfirst"
      class="col-12 container"
      style="position: absolute; top: 150px"
    >
      <v-col cols="12" style="">
        <v-row>
          <v-col cols="12" style="text-align: center; margin-bottom: -40px">
            <a
              href="https://lin.ee/eFSiRKi"
              style="
                text-decoration: none;
                border: 1px solid
                  linear-gradient(
                    90deg,
                    rgba(174, 21, 238, 1) 0%,
                    rgba(217, 27, 233, 1) 28%,
                    rgba(35, 86, 240, 1) 65%,
                    rgba(23, 172, 255, 1) 80%
                  );
                padding: 20px 5px 30px 5px;
                border-radius: 30px;
              "
              ><v-btn id="pinkButton">สมัครสมาชิกตอนนี้</v-btn></a
            >
          </v-col>
          <v-col
            cols="12"
            sm="12"
            style="display: flex; justify-content: center"
          >
            <v-col sm="8" xs="12" lg="12">
              <img
                src="~/assets/image/STB888/logo-stb888.png"
                width="100%"
                alt=""
              />
            </v-col>
          </v-col>
        </v-row>
      </v-col>
    </div>
    <v-col
      cols="12"
      style="
        display: flex;
        justify-content: center;
        position: absolute;
        top: 250px;
      "
    >
      <v-col cols="8" id="buttonWindonw" style="">
        <v-col cols="12" style="float: left">
          <h2
            style="
              font-size: 3em;
              text-shadow: 2px 2px #ff0000;
              color: #fff;
              z-index: 20;
            "
          >
            STB888.ONLINE
          </h2>
          <a
            href="https://lin.ee/eFSiRKi"
            style="
              text-decoration: none;
              border: 1px solid
                linear-gradient(
                  90deg,
                  rgba(174, 21, 238, 1) 0%,
                  rgba(217, 27, 233, 1) 28%,
                  rgba(35, 86, 240, 1) 65%,
                  rgba(23, 172, 255, 1) 80%
                );
              padding: 20px 5px 30px 5px;
              border-radius: 30px;
            "
            ><v-btn id="pinkButton">สมัครสมาชิกตอนนี้</v-btn></a
          >
        </v-col>
      </v-col>
    </v-col>

    <style>
      #buttonfirst {
        display: none;
      }
      @media (max-width: 992px) {
        #buttonWindonw {
          display: none;
        }
        #buttonfirst {
          display: block;
        }
      }
    </style>
    <v-col>
      <img id="qrcode" src="~/assets/image/img/qrcode123.PNG" alt="" />
    </v-col>
    <style>
      #qrcode {
        position: fixed;
        box-sizing: border-box;
        z-index: 5;
        right: 0;
        top: 17%;
        border-radius: 20px;
        border: 1px solid rgb(176, 151, 242);
        width: 200px;
      }
      @media (max-width: 992px) {
        #qrcode {
          display: none;
        }
      }
    </style>
  </div>
</template>
<script>
export default {
  layout: "menu",
  css: [],
  data() {
    return {
      tabs: null,
      tab: null,
      items: ["เกมส์ใหม่", "Joker", "Play'n Go", "เกมส์ทั้งหมด"],
      colors: [
        "indigo",
        "warning",
        "pink darken-2",
        "red lighten-1",
        "deep-purple accent-4",
      ],
      slides: [
        {
          title: "คาสิโน ออนไลน์",
          des:
            "คาสิโนออนไลน์ (Casino Online) คาสิโนออนไลน์ (Casino Online) โดย Starbet Online เป็นเว็บคาสิโนออนไลน์ที่น่าเชื่อถือ มั่นคงและปลอดภัยที่สุดในเอเชีย ให้นักพนันได้เล่นคาสิโนออนไลน์ผ่านมือถือและผ่านหน้าเว็บได้ทุกที่ทุกเวลา ให้บริการคาสิโนออนไลน์ หรือทีหลายๆคนเรียกว่าคาสิโนสด (Live Casino) ครบทั้ง บาคาร่า ไฮโลสด รูเล็ตสด และ สล็อต จ่ายเยอะ นอกจากนี้เรายังให้บริการ ฝาก-ถอนที่รวดเร็ว พร้อมการดูแลจากพนักงานแชทสดที่คอยให้ความช่วยเหลือทุกวัน ตลอด 24 ชม. และได้มีการจดทะเบียนที่ถูกต้องตามกฎหมายในประเทศกัมพูชา ซึ่งสามารถสร้างความมั่นใจให้กับนักเดิมพันน้อยใหญ่ได้อย่างแน่นอนว่า จะได้รับการบริการอย่างมีคุณภาพสูงสุด และได้พบกับความสนุกสุดมันส์ กับคาสิโนออนไลน์ที่ออกแบบมาให้เข้ากับการใช้งานของทุกแพลตฟอร์ม ไม่ว่าจะเป็นการเล่นผ่านโทรศัพท์ มือถือ สมาทโฟน ง่าย ๆ โดยไม่ต้องโหลด Application ให้วุ่นวายอีกต่อไป",
        },
      ],
      gamePlayGo: [
        { img: require("@/assets/image/game-new/new1.jpg") },
        { img: require("@/assets/image/playgo/playgo1.jpg") },
        { img: require("@/assets/image/playgo/playgo2.jpg") },
        { img: require("@/assets/image/playgo/playgo3.jpg") },
        { img: require("@/assets/image/playgo/playgo4.jpg") },
        { img: require("@/assets/image/playgo/playgo5.jpg") },
        { img: require("@/assets/image/playgo/playgo6.jpg") },
        { img: require("@/assets/image/playgo/playgo7.jpg") },
        { img: require("@/assets/image/playgo/playgo8.jpg") },
        { img: require("@/assets/image/playgo/playgo9.jpg") },
      ],
      gameNew: [
        { img: require("@/assets/image/game-new/new1.jpg") },
        { img: require("@/assets/image/game-new/new2.jpg") },
        { img: require("@/assets/image/game-new/new3.jpg") },
        { img: require("@/assets/image/game-new/new4.jpg") },
        { img: require("@/assets/image/game-new/new5.jpg") },
        { img: require("@/assets/image/game-new/new6.jpg") },
        { img: require("@/assets/image/game-new/new7.jpg") },
        { img: require("@/assets/image/game-new/new8.jpg") },
        { img: require("@/assets/image/game-new/new9.jpg") },
      ],
      gameImg: [
        { img: require("@/assets/image/joker/joker1.jpg") },
        { img: require("@/assets/image/joker/joker2.jpg") },
        { img: require("@/assets/image/joker/joker3.jpg") },
        { img: require("@/assets/image/joker/joker4.jpg") },
        { img: require("@/assets/image/joker/joker5.jpg") },
        { img: require("@/assets/image/joker/joker6.jpg") },
        { img: require("@/assets/image/joker/joker7.jpg") },
        { img: require("@/assets/image/joker/joker8.jpg") },
        { img: require("@/assets/image/joker/joker9.jpg") },
        { img: require("@/assets/image/joker/joker10.jpg") },
        { img: require("@/assets/image/joker/joker11.jpg") },
        { img: require("@/assets/image/joker/joker12.jpg") },
        { img: require("@/assets/image/joker/joker13.jpg") },
        { img: require("@/assets/image/joker/joker14.jpg") },
        { img: require("@/assets/image/joker/joker15.jpg") },
        { img: require("@/assets/image/joker/joker16.jpg") },
        { img: require("@/assets/image/joker/joker17.jpg") },
        { img: require("@/assets/image/joker/joker18.jpg") },
        { img: require("@/assets/image/joker/joker19.jpg") },
        { img: require("@/assets/image/joker/joker20.jpg") },
        { img: require("@/assets/image/joker/joker21.jpg") },
        { img: require("@/assets/image/joker/joker22.jpg") },
        { img: require("@/assets/image/joker/joker23.jpg") },
        { img: require("@/assets/image/joker/joker24.jpg") },
        { img: require("@/assets/image/joker/joker25.jpg") },
        { img: require("@/assets/image/joker/joker26.jpg") },
        { img: require("@/assets/image/joker/joker27.jpg") },
        { img: require("@/assets/image/joker/joker28.jpg") },
        { img: require("@/assets/image/joker/joker29.jpg") },
        { img: require("@/assets/image/joker/joker30.jpg") },
        { img: require("@/assets/image/joker/joker31.jpg") },
        { img: require("@/assets/image/joker/joker32.jpg") },
        { img: require("@/assets/image/joker/joker33.jpg") },
        { img: require("@/assets/image/joker/joker34.jpg") },
        { img: require("@/assets/image/joker/joker35.jpg") },
        { img: require("@/assets/image/joker/joker36.jpg") },
        { img: require("@/assets/image/joker/joker37.jpg") },
        { img: require("@/assets/image/joker/joker38.jpg") },
        { img: require("@/assets/image/joker/joker39.jpg") },
        { img: require("@/assets/image/joker/joker40.jpg") },
      ],
      model: null,
      gameHot: [
        { img: require("@/assets/image/gamehot/gamehot1.png"), title: "Ameba" },
        {
          img: require("@/assets/image/gamehot/gamehot2.png"),
          title: "Golden Eggs",
        },
        {
          img: require("@/assets/image/gamehot/gamehot3.png"),
          title: "Reign Of Dragons",
        },
        {
          img: require("@/assets/image/gamehot/gamehot4.png"),
          title: "Habanero",
        },
        {
          img: require("@/assets/image/gamehot/gamehot5.png"),
          title: "King Maker",
        },
        {
          img: require("@/assets/image/gamehot/gamehot6.png"),
          title: "Pocketsoft",
        },
        {
          img: require("@/assets/image/gamehot/gamehot7.png"),
          title: "Playstar",
        },
      ],
      imgFade: [
        { img: require("@/assets/image/img/neon-05.png") },
        { img: require("@/assets/image/img/neon-05.png") },
        { img: require("@/assets/image/img/neon-05.png") },
      ],
    };
  },
};
</script>
<style>
ul li {
  display: inline;
}
#game-btn {
  transition: 0.4s;
  opacity: 0;
}
#game-in:hover ~ #game-btn {
  opacity: 1;
  transition: 0.4s;
}
#game-btn:hover {
  opacity: 1;
}
#cardBig:hover {
  transform: translateY(-15px);
  transition: 0.5s;
}
#card-game {
  border: 1px solid #fff;
  background: rgb(96, 126, 238);
  background: linear-gradient(
    90deg,
    rgba(96, 126, 238, 1) 0%,
    rgba(203, 90, 228, 1) 100%
  );
}
#pinkButton {
  border: none;
  margin-top: 10px;
  background: #f452eb;
  font-weight: 500;
  font-size: 1.5em;
  min-width: 220px;
  height: 60px;
  line-height: 54px;
  padding: 0 25px;
  border-radius: 100px;
  box-shadow: 0 0 15px 0 rgb(244 82 235 / 66%), inset 0 -10px 0 0 #e61e9a;
}
#pinkButton:hover {
  border: 2px solid #f452eb;
  padding: 25px;
  transition: 0.3s;
  box-shadow: 0px 12px 10px #e61e9a;
}
@media (max-width: 992px) {
  #homepage h1 {
    font-size: 1.5em;
  }
  #homepage .title-home {
    display: none;
  }
}
</style>

