<template>
  <div>
    <v-col cols="12" style="display: flex; justify-content: center">
      <v-col lg="8" sm="12">
        <h1 style="color: #f7c45c">เล่นเสียได้เงินคืน 5% ไม่จำกัดยอด</h1>

        <v-divider color="#fff"></v-divider>
        <img
          style="border-radius: 5px"
          src="~/assets/image/img/promotion5%.jpg"
          width="100%"
          alt=""
        />
        <p class="mt-4">
          <strong><a href="https://lin.ee/eFSiRKi">เล่นเสีย ได้เงินคืน 5% !!</a></strong>
          ไม่จำกัดยอด กับ
          <strong style="color: #f7c45c">STB888 Online</strong>
          โปรเล่นเสีย เฮียคืนให้ ที่นี่ที่เดียวกับ STB888 Online
          ศูนย์รวมเกมพนันออนไลน์ ทั้ง บาคาร่า เสือ มังกร ไฮโล
          และที่สำคัญโปรโมชั่นนี้ทาง STB888 จะมีการตัดยอดบัญชีทุก ๆ สัปดาห์
          โดยสมาชิกที่เล่นเสีย สามารถขอใช้โปรโมชั่นนี้ได้ทุก ๆ วันอังคาร
          หลังจากตัดยอดบัญชี โดยสมาชิกสมารถติดต่อได้ทาง Call Center
          กรณีที่สมาชิกไม่แจ้งภายในระยะเวลาที่กำหนดไว้ โปรโมชั่นนี้จะถูกยกเลิก
          ทันที
        </p>
        <h3 style="color:#f7c45c">เงื่อนไขโปรโมชั่น เล่นเสียได้เงินคืน 5% ไม่จำกัดยอด</h3>
        <ul>
          <li>
            สมาชิกแจ้งขอรับสิทธิ์ได้ทุก ๆ วัน อังคาร ตั้งแต่เวลา 10.00 - 14.00
            น. โดยสมาชิกจะได้รับยอดเสีย 5% ของสัปดาห์ที่ผ่านมา
          </li>
          <li>สามารถรับได้สัปดาห์ละ 1 ครั้งเท่านั้น</li>
          <li>หลังจากแจ้งความจำนงภายในเวลาที่กำหนด เครดิตจะเข้าบัญชีภายใน 24 ชม. หลังจากแจ้งไป</li>
          <li>หากสมาชิกไม่แจ้งภายในเวลาที่กำหนดจะถือว่าสมาชิกสละสิทธิ์โดยปริยาย</li>
        </ul>
        <h3 style="color:#f7c45c">**หมายเหตุ**</h3>
        <ul style="color:#f7c45c">
            <li>ทางทีมงานสามารถเปลี่ยนแปลงเงื่อนไขหรือยกเลิกโปรโมชั่นได้ทันทีโดยไม่ต้องแจ้งให้ทราบล่วงหน้า</li>
            <li>หากมีพฤติกรรมที่ไม่เป็นไปตามเงื่อนไข หรือมีการทุจริตใด ๆ ก็ตาม ทางทีมงานจะทำการตัดสิทธิ์โดยทันที โดยการตัดสินของทีมงานถือเป็นที่สิ้นสุด</li>
        </ul>
      </v-col>
    </v-col>
  </div>
</template>
<script>
export default {
  layout: "menu",
};
</script>