<template>
  <div>
    <v-col cols="12" style="display: flex; justify-content: center">
      <v-col lg="8" sm="12">
        <h1 style="color: #f7c45c">สมัครสมาชิก รับโบนัสทันที 100% จากยอดฝาก</h1>

        <v-divider color="#fff"></v-divider>
        <img
          style="border-radius: 5px"
          src="~/assets/image/img/new_mem.jpg"
          width="100%"
          alt=""
        />
        <p class="mt-4">
          <strong><a href="https://lin.ee/eFSiRKi">สมัครสมาชิก</a></strong>
          ไม่จำกัดยอด กับ
          <strong style="color: #f7c45c"> รับโบนัสทันที 100%</strong>
โปรโมชั่นเติมปุ๊บ รับปั๊บ กับ STB888 Online วันนี้เพียงท่านสมัครเป็นสมาชิกกับเราที่ STB888.online และเติมเงินครั้งแรกรับโบนัสทันที 100% ของยอดเติมครั้งแรก
        </p>
        <h3 style="color:#f7c45c">เงื่อนไขโปรโมชั่น รับโบนัสทันที 100%</h3>
        <ul>
          <li>
            โปรโมชั่นนี้เข้าร่วมกับคาสิโน เสือมังกร ของค่าย Starbet Online และ สล็อต เท่านั้น ไม่เข้าร่วมกับค่ายอื่น ๆ เช่น SA Gaming และ เกมยิงปลาทุกชนิด
          </li>
          <li>โบนัส และยอดเครดิตฝากครั้งแรก ผู้เล่นสามารถถอนได้ต่อเมื่อเทิร์นโอเวอร์ของผู้เล่นถึงตามกำหนดที่ทาง starbet online กำหนดไว้เท่านั้น</li>
          <li>หากผู้ใช้งาน เล่นส่วน คาสิโนออนไลน์ (เสือมังกร) ของทาง Starbet Online เพียงอย่างเดียว ต้องทำเทิร์นโอเวอร์คาสิโน 20 เท่า จึงจะสามารถถอน โบนัส และ ยอดเครดิตฝากครั้งแรก ได้</li>
          <li>หากผู้ใช้งาน เล่นส่วน สล็อต ออนไลน์ เพียงอย่างเดียว ต้องทำเทิร์นโอเวอร์สล็อต 30 เท่า จึงจะสามารถถอน โบนัส และ ยอดเครดิตฝากครั้งแรก ได้</li>
          <li>หากผู้ใช้งาน เล่นส่วน สล็อต ออนไลน์ และ คาสิโนออนไลน์​ (เสือมังกร) ของทาง Starbet Online ต้องทำเทิร์นโอเวอร์คาสิโน หรือ สล็อต 30 เท่า จึงจะสามารถถอน โบนัส และ ยอดเครดิตฝากครั้งแรก ได้</li>
          <li>โบนัส 100% จะได้รับโบนัสสูงสุดที่ 5,000 บาท เฉพาะการฝากครั้งแรกเท่านั้น ยกตัวอย่างเช่น ฝากเครดิต 5,000 จะได้รับเครดิตเข้า account 10,000 เครดิต หรือ ฝากเครดิต 10,000 ได้รับเงินเข้า account 15,000 เครดิต</li>
          <li>หากเล่นเกมยิงปลา หรือคาสิโนอื่น ๆ ที่ไม่ใช่ของทาง Starbet Online รวมถึงเกมที่ไม่ได้กำหนดไว้ในข้อแรก อาทิเช่น แอบไปเล่นคาสิโนของ SA Gaming เป็นต้น โปรโมชั่นจะถูกยกเลิกและเป็นโมฆะ และทางทีมงานจะยึดเครดิตคืนทั้งหมด</li>
          <li>หากลูกค้ายืนยันในการรับโปรโมชั่น ทาง Starbet Online ถือว่าท่านยอมรับเงื่อนไขของโปรโมชั่นนี้ทุกกรณี</li>
        </ul>

        <v-divider color="#fff"></v-divider>
        <h3 style="color:#f7c45c">**หมายเหตุ**</h3>
        <ul style="color:#f7c45c">
            <li>ทางทีมงานสามารถเปลี่ยนแปลงเงื่อนไขหรือยกเลิกโปรโมชั่นได้ทันทีโดยไม่ต้องแจ้งให้ทราบล่วงหน้า</li>
            <li>หากมีพฤติกรรมที่ไม่เป็นไปตามเงื่อนไข หรือมีการทุจริตใด ๆ ก็ตาม ทางทีมงานจะทำการตัดสิทธิ์โดยทันที โดยการตัดสินของทีมงานถือเป็นที่สิ้นสุด</li>
        </ul>
      </v-col>
    </v-col>
  </div>
</template>
<script>
export default {
  layout: "menu",
};
</script>