<template>
  <div>
    <v-col cols="12" style="display: flex; justify-content: center">
      <v-col lg="8" sm="12">
        <h1 style="color: #f7c45c">โปรรับวันเกิด รับเครดิตฟรี</h1>

        <v-divider color="#fff"></v-divider>
        <img
          style="border-radius: 5px"
          src="~/assets/image/img/promotion_birth_day.jpg"
          width="100%"
          alt=""
        />
        <p class="mt-4">
          <strong
            ><a href="https://lin.ee/eFSiRKi">เพียงเป็นสมาชิก STB888</a></strong
          >
          ตรงกับวันเกิด รับไปเลย
          <strong style="color: #f7c45c"> เครดิตฟรี </strong>
          เราขอมอบสิทธิพิเศษนี้ ให้กับทุกท่านที่ต้องการรับ
          เพียงแค่ท่านแสดงหลักฐานที่ยืนยันว่าเกิดวันนั้นจริงๆ
          โปรนี้ไม่ต้องทำเทิร์น รายละเอียดการรับ เครดิตฟรี ในวันเกิด ดังนี้
        </p>
        <h3 style="color: #f7c45c">เงื่อนไขโปรโมชั่น รับเครดิตฟรี วันเกิด</h3>
        <ul>
          <li>เป็นสมาชิกกับ starbet.online ถึงจะรับโปรได้</li>
          <li>
            วันที่ขอรับโปรโมชั่นต้องขอในวันเกิดของสมาชิกเท่านั้นไม่สามารถขอก่อนหรือหลังได้ทุกกรณี
          </li>
          <li>
            ส่งหลักฐานที่ยืนยันได้ว่าเป็นวันเกิดของท่านเอง เช่น หน้าบัตร ปชช.
            หรือ ใบขับขี่ เป็นต้น
          </li>
          <li>รับเครดิตฟรีไปเลย 500 เครดิต</li>
          <li>
            ท่านต้องมียอดฝากและยอดเทิร์นโอเวอร์ 1,500 ขึ้นไป ภายใน 7
            วันก่อนถึงวันเกิด ถึงจะรับโปรนี้ได้
          </li>
          <li>
            ตัวอย่างเช่น ลูกค้าเกิดวันที่ 7 พฤษภาคม ลูกค้าต้องมียอด
            เทิร์นโอเวอร์ ตั้งแต่วันที่ 1 -7 พฤษภาคม รวมกัน 1,500
            และยอดฝากรวมกันตั้งแต่วันที่ 1 - 7 พฤษภาคม 1,500 เครดิต
            จึงจะสามารถรับเครดิตได้ หากภายใน 7 วันดังกล่าว ไม่มียอดเทิร์น และ
            ยอดฝาก จะไม่สามารถรับโปรนี้ได้
          </li>
        </ul>

        <v-divider color="#fff"></v-divider>
        <h3 style="color: #f7c45c">**หมายเหตุ**</h3>
        <ul style="color: #f7c45c">
          <li>
            ทางทีมงานสามารถเปลี่ยนแปลงเงื่อนไขหรือยกเลิกโปรโมชั่นได้ทันทีโดยไม่ต้องแจ้งให้ทราบล่วงหน้า
          </li>
          <li>
            หากมีพฤติกรรมที่ไม่เป็นไปตามเงื่อนไข หรือมีการทุจริตใด ๆ ก็ตาม
            ทางทีมงานจะทำการตัดสิทธิ์โดยทันที
            โดยการตัดสินของทีมงานถือเป็นที่สิ้นสุด
          </li>
        </ul>
      </v-col>
    </v-col>
  </div>
</template>
<script>
export default {
  layout: "menu",
};
</script>