<template>
  <div>
    <v-col cols="12" style="display: flex; justify-content: center">
      <v-col lg="8" sm="12">
        <h1 style="color: #f7c45c">9 เกมส์แจกโชค กับ PLAY’N GO</h1>

        <v-divider color="#fff"></v-divider>
        <img
          style="border-radius: 5px"
          src="~/assets/image/img/promotion9game.jpg"
          width="100%"
          alt=""
        />
        <p class="mt-4">
          <strong><a href="https://lin.ee/eFSiRKi">สล็อตจัดหนัก!!</a></strong>
          แจกโชคทั้งเดือน
          <strong style="color: #f7c45c"
            >กิจกรรมเริ่มตั้งแต่ 15 พฤษภา - 15 มิถุนา 64</strong
          >
          เพียงเป็นสมาชิกกับ starbet เล่นสล็อตค่าย Play’n GO
          ในเกมส์และหมุนเบทตามที่กำหนด ก็มีสิทธิ์รับรางวัล
          โดยรายละเอียดและเงื่อนไขกิจกรรม 9Games Lucky Play มีดังนี้
        </p>
        <p>
          ตารางการแจกรางวัลตามระดับ
          <strong style="color: #f7c45c">Jackpot</strong>
        </p>
        <v-col sm="12" lg="6">
          <table class="table" style="color: #fff; border: 2px solid #fff">
            <thead class="table-dark">
              <tr>
                <th>ชื่อรางวัล</th>
                <th>รางวัล</th>
                <th>จำนวนรางวัล</th>
                <th>มูลค่าทั้งหมด</th>
              </tr>
            </thead>
            <tbody style="background: transparent">
              <tr>
                <td style="border: 1px solid #fff">Mega Jackpot</td>
                <td style="border: 1px solid #fff">5000 บาท</td>
                <td style="border: 1px solid #fff">1</td>
                <td style="border: 1px solid #fff">5,000 บาท</td>
              </tr>
              <tr>
                <td style="border: 1px solid #fff">Super Jackpot</td>
                <td style="border: 1px solid #fff">3000 บาท</td>
                <td style="border: 1px solid #fff">2</td>
                <td style="border: 1px solid #fff">6,000 บาท</td>
              </tr>
              <tr>
                <td style="border: 1px solid #fff">Big Jackpot</td>
                <td style="border: 1px solid #fff">1000 บาท</td>
                <td style="border: 1px solid #fff">7</td>
                <td style="border: 1px solid #fff">7,000 บาท</td>
              </tr>
              <tr>
                <td style="border: 1px solid #fff">Mini Jackpot</td>
                <td style="border: 1px solid #fff">500 บาท</td>
                <td style="border: 1px solid #fff">14</td>
                <td style="border: 1px solid #fff">7,000 บาท</td>
              </tr>
              <tr>
                <td style="border: 1px solid #fff">รวมทั้งหมด</td>
                <td style="border: 1px solid #fff"></td>
                <td style="border: 1px solid #fff">26 รางวัล</td>
                <td style="border: 1px solid #fff">25,000 บาท</td>
              </tr>
            </tbody>
          </table>
        </v-col>
        <p>
          รางวัลในเกมจะสุ่มแจกออกอัตโนมัติ
          หากผู้เล่นวางเดิมพันตามที่กำหนดด้านล่างนี้
        </p>
        <ul>
          <li>
            ขั้นต่ำการเดิมพันต่อรอบ 40 บาท สำหรับรางวัล
            <strong style="color: yellow">Mega Jackpot</strong>
          </li>
          <li>
            ขั้นต่ำการเดิมพันต่อรอบ 32 บาท สำหรับรางวัล
            <strong style="color: yellow">Super Jackpot</strong>
          </li>
          <li>
            ขั้นต่ำการเดิมพันต่อรอบ 16 บาท สำหรับรางวัล
            <strong style="color: yellow">Big Jackpot</strong>
          </li>
          <li>
            ขั้นต่ำการเดิมพันต่อรอบ 8 บาท สำหรับรางวัล
            <strong style="color: yellow">Mini Jackpot</strong>
          </li>
        </ul>
        <h4 style="color: #f7c45c">เกมส์ที่เข้าร่วมกิจกรรม 9 เกมส์แจกโชค</h4>
        <img
          style="border-radius: 5px"
          src="~/assets/image/img/promotion/free-spin-9-game-01.jpg"
          width="100%"
          alt=""
        />
        <h4 style="color: #f7c45c">เงื่อนไขกิจกรรม 9 เกมส์แจกโชค</h4>
        <ul>
          <li>
            <strong>กิจกรรมเริ่มตั้งแต่ 15 พฤษภาคม - 15 มิถุนายน 2564</strong>
          </li>
          <li>
            จะมีสิทธิ์รับรางวัลต่อเมื่อเล่นเกมส์สล็อตของค่าย Play’n GO ที่
            เรากำหนดมาเท่านั้น
          </li>
          <li>รางวัลจะขึ้นโชว์ในหน้าเกมส์ ขณะที่ท่านเล่นอยู่</li>
          <li>ระบบจะสุ่มแจกโบนัสจาก 9 เกมส์ที่กำหนด จนหมดระยะเวลาของกิจกรรม</li>
        </ul>
        <h5>**หมายเหตุ**</h5>
        <ul>
          <li>
            ทางทีมงานสามารถเปลี่ยนแปลงเงื่อนไขหรือยกเลิกโปรโมชั่นได้ทันทีโดยไม่ต้องแจ้งให้ทราบล่วงหน้า
          </li>
          <li>
            หากมีพฤติกรรมที่ไม่เป็นไปตามเงื่อนไข หรือมีการทุจริตใด ๆ ก็ตาม
            ทางทีมงานจะทำการตัดสิทธิ์โดยทันที
            โดยการตัดสินของทีมงานถือเป็นที่สิ้นสุด
          </li>
        </ul>
      </v-col>
    </v-col>
  </div>
</template>
<script>
export default {
  layout: "menu",
};
</script>